body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #0056b3;
}

@keyframes slideTextToOneTime {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

h1 {
    text-align: center;
    text-decoration: none;
    /* Removes the wavy underline */
    color: #5C58BC;
    /* Darker text color for contrast */
    font-size: 2.5rem;
    /* Larger font size for prominence */
    overflow: hidden;
    /* Ensures the sliding text is clipped to the container's bounds */
    white-space: nowrap;
    /* Prevents the text from wrapping */
    display: block;
    /* Ensures the h1 behaves like a block for animation */
    width: 100%;
    /* Full width to center the text properly */
    animation: slideTextToOneTime 3s ease-out forwards;
    /* Applies the sliding animation */
}